# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Ignore any generic configuration dumps containing secrets
**/*.env
**/*.env.local

# EXCEPT templates/examples which safe to share with the team
!.env.example
!.env.template


# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
/stitch_hugo_portfolio_template

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.rc
terraform.rc
